<div  class="banner small"
      <% if @list.photo.attached? %>
      style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key %>')"
      <% end %>
    >
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between border-bottom">
    <h2>My bookmarks</h2>
    <%= link_to "Add a bookmark", "#addBookmark", class: "btn btn-dark" %>
  </div>
  <div class="cards py-5">
    <% if @bookmarks.size > 0 %>
      <% @bookmarks.each do |bookmark| %>
        <div class="card-bookmark">
          <img src="<%= bookmark.movie.poster_url %>" alt="<%= bookmark.movie.title %>" />
          <div class="card__content">
            <h3>
              <%= bookmark.movie.title %>
              <span><%= bookmark.movie.rating %></span>
            </h3>
            <p><%= bookmark.movie.overview %></p>
          </div>
          <div class="card__footer">
            <%= bookmark.comment %>
            <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div>No bookmark yet :(</div>
    <% end %>
  </div>
  <div id="addBookmark" class="d-flex align-items-center justify-content-between border-bottom">
    <h2>Add a bookmark</h2>
  </div>
  <div class="row justify-content-center py-5">
    <div class="col-12 col-md-6 col-lg-4">
      <%= render "bookmarks/form", bookmark: @bookmark, list: @list, movies: @movies %>
    </div>
  </div>
</div>
